.card img {
    width: 100%;
}

.jumbotron {
    background-image: url("../images/header-bg.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
}

.jumbotron h1 {
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #2b2d30;
}

#button-display button {
    color: #fff;
    font-weight: 500;
}

.card-body {
    padding: 0.35rem !important;
}

body {
    background-color: #2b2d30;
}

small {
    color: #d2dae6;
}

.fa-star {
    position: absolute;
    right: 16px;
    top: 16px;
    font-size: 2rem;
}

.fa-star:hover {
    color: #fff !important;
}

#add {
    background-color:	#008ac2;
    color: #fff;
    font-weight: 600;
}

#favorites {
    background-color: 	#FFD700;
    color: #2b2d30;
    font-weight: 600;
}